{% extends "base.html" %}

{% block main %}


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
      <h1>Welcome to Day</h1>
      <h2>Precision Clinical Medicine Using Machine Learning: Using High And Low Quantile Ranges Of Vital Signs For ICU Patient Risk Stratification</h2>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    

   

  {% endblock %}
